body { background-color: bisque}

h1 { text-align: center;
     color: chocolate;
    font-family: "Arial Black";
    font-size: 30px;}
h2 { text-align: center;
     color: darkgreen;
     font-family: "Book Antiqua";
     font-size: 15px}